.Message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 800px; 
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
  transition: background-color 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #3e4046;
  }

  .userName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .timeStamp {
    font-size: 12px;
    color: #6c6f77;
  }

  .messageBody {
    font-size: 16px;
    word-wrap: break-word;
    color: #d7d5d9;
  }
}
