.Message {
    text-align: left;
    max-width: 80%;
    padding: 10px; 
    border-radius: 8px;
    margin: 5px 0; 

    background-color: #585b66;
    color: #fff; 
    border: 1px solid #3f51b5; 

    transition: background-color 0.3s ease;

    &:hover {
        background-color: #292b3a; 
        cursor: pointer; 
    }
}
