.ChatInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #f4f4f4;
    border-top: 1px solid #e0e0e0;

    input {
        flex: 1;
        height: 40px;
        padding: 0 15px;
        border: 1px solid #e0e0e0;
        border-radius: 20px;
        outline: none;
        font-size: 16px;

        &:focus {
            border-color: #3f51b5;
        }
    }

    button {
        width: 80px; 
        height: 60%;
        border: none;
        border-radius: 20px;
        background-color: #3f51b5;
        color: #fff;
        text-align: center;
        cursor: pointer;
        outline: none;
        font-size: 16px;

        &:hover {
            background-color: darken(#3f51b5, 10%);
        }

        &:active {
            background-color: darken(#3f51b5, 20%);
        }
    }
}
