.UserList {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  color: #6C6F77;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

.user-list {
  margin-left: auto; 
  margin-top: 20px;
  text-align: left;
}

.usersLabel {
  margin-top: -10px;
  margin-bottom: 5px;
  font-size: 18px;
}

.user {
  margin: 0px;
  margin-left: 5px;
  font-size: 14px;
}

.user.leave {
  animation: fadeout 0.5s forwards; 
}

